/* Sidebar.css */
.sidebar {
  width: 20%;
  height: 100vh;
  /* background-color: #000; */
  background-color: rgb(18, 91, 87);

  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 20px;
  position: fixed;
  /* border-radius: 20px; */
}

.sidebar-header {
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  /* text-align: center; */
  text-decoration: underline;
  color: #fff;
}

.menu {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  /* align-items: center; */
  gap: 3px;
  /* justify-content: center; */
}

.menu_list {
  width: 100%;
  display: flex;
  /* padding-left: 20px; */
  gap: 10px;
  padding: 10px 20px;
}

.menu_list:hover {
  background-color: rgb(18, 91, 87);
}
